PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/twitterlite
JWT_SECRET=replace_me_with_a_secure_random_string
JWT_EXPIRES_IN=1d
CLIENT_ORIGIN=http://localhost:3000
LIBRE_TRANSLATE_URL=https://libretranslate.com/translate

